@CHARSET "ISO-8859-1";

html {
	font-family: Helvetica,Arial,  sans-serif;
}

body {
	background-color: #F2F2F2;
	background-image: url("img/bg.png");
	background-position: center;
	background-repeat: repeat-y;
	margin: 0;
	padding: 0;
	margin: 0;
}

asd {
	border: 1px dotted;
	padding: 0;
}

#mainFrame {
	height: 100%;
	width: 960px;
	display: block;
	/* 	background-color: lime; */
	margin: 0 auto 0 auto;
}

#header {
	display: block;
	height: 100px;
}

#mainMenu {
	height: 50px;
	padding: 0 20px;
	margin-bottom: 30px;
}

#mainMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	/*can't center elements if width is undefined'*/
	width: 100%;
	float: left;
	height: 48px;
	text-align: left;
	display: block;
	background-image: url("img/hor_line.png");
	background-position: bottom;
	background-repeat: repeat-x;
}

#mainMenu ul li {
	/*display: inline-block;*/
	padding: 5px 10px;
	margin: 0;
	width: 150px;
	height: 30px;
	/*width:100px;*/
	display: inline-block;
	text-align: right;
	font-size: 1.5em;
	/*removes unwanted space between elements that're "block in-ine"*/
	float: left;
	background-image: url("img/vert_line.png");
	background-repeat:repeat-y;
	background-position: right;
}

.link:hover{
	color: #595959;
}

#subMenu {
	height: 100%;
	width: 190px;
	display: inline-block;
	float: left;
	padding-top: 60px;
}

#subMenu ul {
	list-style: none;
}

#subMenu ul li {
	text-align: right;
	font-size: 1.1em;
	height: 40px;
	padding-right: 10px;
	line-height: 40px;
	vertical-align: middle;
	background-image: url("img/vert_line.png");
	background-repeat:repeat-y;
	background-position: right;
}

li div{
	padding-bottom: 5px;
	position: relative;
	display:inline-block;
	height: 100%;
}

#content {
	height: 400px;
	width: 55%;
	display: inline-block;
	float: left;
	padding-left: 30px;
}

#footer {
	height: 30px;
	display: block;
	clear: both;
	bottom: 0;
	text-align: right;
	padding-right:20px;
}

/*replicate link behavior on custom elements*/
.link {
	cursor: hand;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.link:hover{
/* 	font-style: italic; */
}

.horizontalLine{
	height: 2px;
	width: 90%;
	background-color: #d2d2d2;
	margin: auto;
	clear:both;
	display:block;
}

.verticalLine{
	width: 2px;
height: 100%;
	background-color: #d2d2d2;
	display:inline-block;
	float:rigth;
	margin: 0 10px;
}